// * general
$headerfooterbcg: #f8f8f8;

// * fonts
$Montserrat: "Montserrat", sans-serif;
$Roboto: "Roboto", sans-serif;

// * buttons
$hoverColor: #00c8c8;
$btnColor: #454647;

// * header
$headerTextColor: #fff;
$headerMenuTxtColor: #222;
$headerMenuArrowColor: #989898;
$searchColor: #989898;
$hoverBlogTitle: #575153;
$hoverLinkColor: #727272;

// * body
$titleColor: #575153;
$formCheckColor: #8e8c8c;
$producTxtColor: #8e8c8c;
$productPriceColor: #9a9a9a;
$lookBookBcg: #f8f8f8;
$productTitle: #575153;
$productHref: #9a9a9a;
$productText: #8e8c8c;

// footer
$topAndBottomBcgColor: #333;
$topAndBottomTxtColor: #777;
$footerTitleColor: #575153;
$footerLinkColor: #727272;
